body{
    background-color: lightblue;
}
img{
    width:25%; 
    height:40%;
}
nav{
    text-align: center;
    margin: 15px;
}
body{
background-image:  url(images/AboutUsbg.jpg);
 background-size: cover;
  background-repeat: no-repeat;
   background-position: center; 
   background-attachment: fixed;
}
header{
    text-align: center;
}
nav{
    text-align: center;
    margin: 15px;
}
p{
    text-align: center;
    width: 80%;
    margin: auto;
}
img{
    width:25%;
     display:block;
      margin:auto;
}
footer{
    text-align: center;margin-top: 20px;
}
body{
    background-image: url('Images/yellow2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
} 
.im1{
    width:"30%";
    height:"30%";
    border:"7px" solid rgb(102, 43, 4)


}
img{
    width: 25%;
    height:25%;
    border: 7px solid rgb(151, 87, 14)"
}
.im2{
    width:15%;
     display:block;
      margin:auto
}
nav{
    text-align: center;
    margin: 15px;
}
footer{
    text-align: center;
    margin-top: 20px;

}
body{
    background-color:  rgb(253, 214, 241);
}
img{
    width: 35%;
      height: 35%;
       border:7px solid rgb(231, 180, 113)
}
nav{
    text-align: center;
    margin: 15px;
}
body{
    background-color: rgb(248, 178, 137);
}
img{
    width: 50%; 
     height: 50%; 
      border: 7px solid rgb(248, 102, 57)
}
nav{
    text-align: center;
}